name: GKE-Dev_API

on:
  workflow_dispatch:

jobs:
  setup:
    name: Setup GCP Auth
    runs-on: ubuntu-latest
    outputs:
      creds: ${{ steps.auth.outputs.credentials }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Google Cloud auth
        id: auth
        uses: google-github-actions/auth@v2
        with:
          credentials_json: ${{ secrets.GKE_LOGIN_SERVER }}

  build:
    name: Build & Push Docker Compose Images
    runs-on: ubuntu-latest
    needs: setup
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Configure Docker for Artifact Registry
        run: gcloud auth configure-docker us-central1-docker.pkg.dev --quiet

      - name: Build docker-compose images
        run: |
          docker compose build

      - name: Tag & Push images
        run: |
          # PROJECT="konaai-dev-462909"
          # REPO="konaai-gke"
          # REG="us-central1"

          # # Define image names in Google Artifact Registry
          # WEB_IMAGE="$REG/$PROJECT/$REPO/web"
          # WORKER_IMAGE="$REG/$PROJECT/$REPO/worker"
          # SCHEDULER_IMAGE="$REG/$PROJECT/$REPO/scheduler"
          IMAGE=us-central1-docker.pkg.dev/konaai-dev-462909/konaai-gke
          docker tag konaai-ml:web us-central1-docker.pkg.dev/konaai-dev-462909/konaai-gke:${{ github.sha }}
          docker push us-central1-docker.pkg.dev/konaai-dev-462909/konaai-gke:${{ github.sha }}

          # # Tag the images built by docker-compose
          # docker tag konaai-ml:web      $WEB_IMAGE:${{ github.sha }}
          # docker tag konaai-ml:worker   $WORKER_IMAGE:${{ github.sha }}
          # docker tag konaai-ml:scheduler $SCHEDULER_IMAGE:${{ github.sha }}

          # # Push SHA tags
          # docker push $WEB_IMAGE:${{ github.sha }}
          # docker push $WORKER_IMAGE:${{ github.sha }}
          # docker push $SCHEDULER_IMAGE:${{ github.sha }}

          # # Push "latest" tags
          # docker tag konaai-ml:web      $WEB_IMAGE:latest
          # docker tag konaai-ml:worker   $WORKER_IMAGE:latest
          # docker tag konaai-ml:scheduler $SCHEDULER_IMAGE:latest

          # docker push $WEB_IMAGE:latest
          # docker push $WORKER_IMAGE:latest
          # docker push $SCHEDULER_IMAGE:latest
