name: GKE-Dev_API
on:
  workflow_dispatch:
jobs:
  setup:
    name: Setup GCP Auth
    runs-on: ubuntu-latest
    outputs:
      creds: ${{ steps.auth.outputs.credentials }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4

  build:
    name: Build and Push Docker Image
    runs-on: ubuntu-latest
    needs: setup
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Set up Google Cloud auth
        uses: google-github-actions/auth@v2
        with:
          credentials_json: ${{ secrets.GKE_LOGIN_SERVER }}
          
      - name: Configure Docker for Artifact Registry
        run: gcloud auth configure-docker us-central1-docker.pkg.dev --quiet

      - name: Build and push Docker image
        run: |
          IMAGE=us-central1-docker.pkg.dev/konaai-dev-462909/konaai-gke/dev-api
          docker build -f KonaAI.Master/KonaAI.Master.API/Dockerfile -t $IMAGE:${{ github.sha }} .
          docker push $IMAGE:${{ github.sha }}

          # Optional "latest" tag
          docker tag $IMAGE:${{ github.sha }} $IMAGE:latest
          docker push $IMAGE:latest
